* {
    background: #f8f9fa;

}


.player-card {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    max-width: 400px;
    margin-top: 10%;
    margin-left: 35%;
    padding: 20px;
    background: linear-gradient(to right, #f4e771, #5ffaffd2);
}

.player-image {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
    background-size: cover;
    border: 2px solid black;
    border-radius: 5px;
}


.player-name {
    font-size: 1.5rem;
    background: linear-gradient(to right, #f4e771, #78faffd2);
    margin: 10px 0;
    min-width: 300px;
    min-height: 60px;
    display: inline-flex;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 10px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;

}

.player-name::before {
    content: '';
    border-radius: 10px;
    min-width: calc(280px + 12px);
    min-height: calc(45px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px linear-gradient(to right, #f4e771, #78faffd2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.player-name:hover,
.player-name:focus {
    color: #313133;
    transform: translateY(-6px);
}

.player-name:hover::before,
.player-name:focus::before {
    opacity: 1;
}

.player-name::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid linear-gradient(to right, #f4e771, #78faffd2);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.player-name:hover::after,
.player-name:focus::after {
    animation: none;
    display: none;
}

.player-position {
    color: #cf2f24;
    margin-left: 5%;
    background: #ffffff;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    background: linear-gradient(to right, #f4e771, #78faffd2);
    display: inline-flex;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 10px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.player-position::before {
    content: '';
    border-radius: 10px;
    min-width: calc(120px + 12px);
    min-height: calc(30px + 12px);
    border: 6px solid #00ffc8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.player-position:hover,
.player-position:focus {
    color: #313133;
    transform: translateY(-6px);
}

.player-position:hover::before,
.player-position:focus::before {
    opacity: 1;
}

.player-position::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 1000px;

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.player-position:hover::after,
.player-position:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}



.player-stats p {
    margin: 0;
    background: linear-gradient(to right, #f4e771, #5ffaffd2);
    font-size: 1rem;
}